@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    ViewBag.Information = "This is a test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h4>@ViewData["UserEmail"]</h4>

@section Scripts{
    <script src="~/js/index.js"></script>
}
